.logo {
  padding-top: 20px;
  margin-bottom: 56px;

  &_small {
    display: none;
  }

  @media (max-width: 900px) {
    & {
      margin-bottom: 30px;
    }

    &_big {
      display: none;
    }
    &_small {
      display: inline-block;
      width: 30px;
    }
  }
}
