@use '../../gloablStyles/mixines' as *;

.leftbar_topList_link {
  padding: 15px 10px;
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    width: 23px;
    height: 23px;

    @media (max-width: 1199px) {
      width: 28px;
      height: 28px;
    }
  }

  span {
    font-size: 19px;
    font-weight: 500;
    color: var(--white);

    @media (max-width: 1199px) {
      display: none;
    }
  }

  &.activeLink {
    background: var(--branding-red-tint-200);
    @include border-radious(3.815px);

    span {
      font-weight: 700;
      color: var(--neutral-100-day);
    }
  }

  @media (max-width: 1199px) {
    gap: 0px;
    justify-content: center;
  }
}
