@use '../../gloablStyles/index' as *;

.bottomList_adaptive {
  display: none;
  margin-top: 25px;
  overflow-y: auto;
  &_link {
    img {
      margin-bottom: 5px;
      width: 58px;
      height: 58px;
      @include border-radious(4.769px);
      object-fit: contain;
    }
  }

  @media (max-width: 1199px) {
    display: block;
  }
}
